#Local database configuration
LOCAL_DB_HOST=host
LOCAL_DB_PORT=5432 
LOCAL_DB_USER=user
LOCAL_DB_PASSWORD=11111
LOCAL_DB_MAIN=postgres
LOCAL_DB_CORE=postgres-core

# API Configuration
ASPNETCORE_ENVIRONMENT=Development
API_PORT=8080

# Database Connection Strings
# Format: Server=postgres;Port=5432;Database=postgres;Username=postgres;Password=postgres;
DB_CONNECTION_STRING=
DB_CONNECTION_CORE_STRING=

# pgAdmin Configuration
PGADMIN_EMAIL=a1@gmail.com
PGADMIN_PASSWORD=123123
PGADMIN_PORT=5050

# Remote Database (for cloning)
REMOTE_DB_HOST=10.0.0.9
REMOTE_DB_PORT=5432
REMOTE_DB_USER=postgres
REMOTE_DB_PASSWORD=123456
REMOTE_DB_MAIN=postgres
REMOTE_DB_CORE=postgres-core

